<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campgrounds._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          value="<%= campgrounds.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          value="<%= campgrounds.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          value="<%= campgrounds.image %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price-label"
            name="campground[price]"
            aria-describedby="basic-addon1"
            value="<%= campgrounds.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description </label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          required
        >
        <%= campgrounds.description %>
      </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campgrounds.id %> ">Back to Campground</a>
  </div>
</div>
